.container {
    height: 100vh;
    display: flex;

    &__projetContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10vh 0;

        @media screen and (min-width: 780px) {
            width: 80%;
            height: 60vh;
            margin: auto;
            position: relative;

            &:hover .clip {
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            }

            .clip:hover {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }

        .clip {
            border-radius: 4px;
            width: 100%;
            margin: 2vh 0;

            .content {
                background-color: rgba(0, 0, 0, 0.5);
                height: 15vh;
                display: flex;
                align-items: center;
                color: white;
                padding-left: 20px;

                @media screen and (min-width: 780px) {
                    color: black;
                    height: auto;
                    display: block;
                    opacity: 0;
                    transition: 0.5s;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 70%;
                    padding: 20px;
                    background-color: var(--primary);
                    color: var(--secondary);
                }

                p {
                    display: none;
                    @media screen and (min-width: 780px) {
                        display: block;
                    }
                }
            }

            @media screen and (min-width: 780px) {
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                transition: 0.5s;
                background-size: cover;
            }
        }

        .clip:hover .content {
            @media screen and (min-width: 780px) {
                opacity: 1;
            }
        }

        .clip1 {
            background-image: url('https://picsum.photos/900/1000');
            @media screen and (min-width: 780px) {
                clip-path: polygon(0 0, 55%, 0, 20% 100%, 0% 100%);
            }
        }

        .clip2 {
            background-image: url('https://picsum.photos/950/1320');
            @media screen and (min-width: 780px) {
                clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
            }
        }

        .clip3 {
            background-image: url('https://picsum.photos/1200/1350');
            @media screen and (min-width: 780px) {
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
            }
        }
    }
}
