.vague1,
.vague2 {
    position: fixed;
    z-index: -1;
    width: 12rem;
    height: 12rem;
    transition: width 2.5s, height 2.5s;
}

.vague2 {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.socials {
    z-index: 2;
    position: fixed;
    color: var(--secondary);
    font-size: 30px;
    right: 50px;
    column-gap: 35%;
    bottom: 10px;
    display: none;

    @media screen and (min-width: 780px) {
        display: flex;
    }
}

@media screen and (min-width: 780px) {
    .vague1,
    .vague2 {
        width: 20rem;
        height: 20rem;
    }

    .logo {
        width: 4rem;
        top: 15px;
        left: 15px;
    }
}
