.vagueGauche,
.vagueDroite {
  width: 55vw;
  position: absolute;
  z-index: 100;
}

.vagueDroite {
  bottom: 0;
  right: 0;
}

.logo {
  position: absolute;
  width: 3rem;
  top: 10px;
  left: 10px;
  max-width: 20vw;
  z-index: 200;
}

@media screen and (min-width: 780px) {
  .vagueGauche,
  .vagueDroite {
    width: 15rem;
  }

  .logo {
    width: 4rem;
    top: 15px;
    left: 15px;
  }
}

.waveContainerGauche, .waveContainerDroite {
  position: fixed;
  width: 28rem;
  height: 28rem;
  overflow: hidden;
}

.waveContainerDroite {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.testvagueGauche,
.testvagueDroite {
  position: absolute;
  height: 50%;
  transform: rotate(145deg) translateX(25%) translateY(60%) scaleX(2);
}
