@import '../../../../styles/colors';

.services {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 2rem 20px 1rem;
    font-weight: 100;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    margin: 0;
    position: relative;
    transition: 0.15s;
    column-gap: 2rem;

    &__figcaption {
        flex: 1;
    }


    &__title {
        font-family: 'Quick', sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 1vh;
    }

    &__chevron {
        display: block;
        margin: 10px auto;
        transition: all 0.3s ease-in-out;

        @media screen and (min-width: 780px) {
            display: none;
        }

        &_open {
            transform: rotate(180deg);
        }
    }

    &__content {
        font-size: 14px;
        line-height: 150%;
        max-height: 0;
        transition: max-height .5s;
        overflow: hidden;

        @media screen and (min-width: 780px) {
            max-height: none;
            overflow: auto;
        }

        &_open {
            max-height: 500px;
        }
    }

    &:hover {
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
        transform: scale(1.03);
    }

    &__illustration {
        display: block;
    }

    &__back {
        width: 80%;
        display: block;
        margin: auto;
        opacity: 0.5;
        position: relative;
        height: 120px;

        &::before {
            width: 45px;
            height: 45px;
            border-radius: 99px;
            z-index: -1;
            left: 10px;
            top: 10px;
            background: $yellow;
            display: block;
            content: '';
            position: absolute;
        }

        &::after {
            width: 20px;
            height: 20px;
            border-radius: 99px;
            z-index: -1;
            bottom: 10px;
            right: 10px;
            background: grey;
            display: block;
            content: '';
            position: absolute;
        }
    }

    @media screen and (min-width: 780px) {
        width: 46%;
    }

    @media screen and (min-width: 960px) {
        width: 22%;
    }
}

.services__img {
    height: 5rem;
    width: auto;
    margin: 0 auto;
    display: block;
}
