.services {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.05);
    display: block;
    width: auto;
    padding: 15px;
    font-weight: 100;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    margin: 0;
    position: relative;
    transition: 0.15s;

    &__chevron {
        display: block;
        margin: 10px auto;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
        transform: scale(1.03);
    }

    &__illustration {
        display: block;
    }

    &__back {
        width: 80%;
        display: block;
        margin: auto;
        opacity: 0.5;
        position: relative;
        height: 120px;

        &::before {
            width: 45px;
            height: 45px;
            border-radius: 99px;
            z-index: -1;
            left: 10px;
            top: 10px;
            background: var(--yellow);
            display: block;
            content: '';
            position: absolute;
        }

        &::after {
            width: 20px;
            height: 20px;
            border-radius: 99px;
            z-index: -1;
            bottom: 10px;
            right: 10px;
            background: grey;
            display: block;
            content: '';
            position: absolute;
        }
    }

    &__isopen {
        .services__chevron {
            transform: rotate(180deg) !important;
        }

        p {
            height: auto !important;
        }
    }

    figcaption {
        h3 {
            font-family: 'Quick', sans-serif;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
        }

        p {
            font-size: 12px;
            line-height: 150%;
            font-family: 'Poppins', sans-serif;
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }
    }

    @media screen and (min-width: 780px) {
        width: 45%;

        &__chevron {
            display: none;
        }

        figcaption {
            p {
                height: auto;
            }
        }
    }

    @media screen and (min-width: 960px) {
        width: 22%;
    }
}
