@import '../../../../styles/colors';

.contactForm {
  text-align: center;
  position: relative;
  width: 300px;
  color: var(--secondary);

  &__title {
    color: var(--secondary);
    margin-bottom: 8vh;
  }

  &__input {
    resize: none;
  }

  &__input:not(input[type=submit]) {
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--secondary);
    padding: .3rem 0;
    margin-bottom: 2.5rem;
    color: var(--secondary);
  }

  &__input:focus {
    outline: none;
  }

  &__submit {
    background: transparent;
    border: 1px solid var(--secondary);
    padding: .5rem 1.5rem;
    width: fit-content;
    font-size: 8pt;
    border-radius: 30px;
    text-align: right;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    color: var(--secondary);

    &:hover {
      cursor: pointer;
    }
  }

  &__message {
    font-size: 8pt;
    text-align: justify;

    a {
      color: $yellow;
    }
  }

  &__modal {
    margin-top: 4vh;
    min-height: 28px;
  }

  &__response {
    background: rgba(green, .6);
    text-align: center;
    padding: .3rem 0;
    border-radius: 15px;
    font-size: 8pt;
    color: white;
  }
}
