.estimate {
    display: flex;
    flex-direction: column;
    margin: 8vh auto 0;
    height: auto;
    padding: 0 15%;
    text-align: center;
    color: var(--secondary);
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 780px) {
        padding: 0;
        height: 100vh;
        margin: auto;
    }

    &__questionNum {
        width: 3rem;
        height: 3rem;
        display: block;
        background-color: #f6c952;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        margin: 2vh auto;
        box-shadow: -3px 3px 18px -3px rgba(0, 0, 0, 0.3);
    }

    &__progressBar {
        height: 4px;
        border-radius: 3px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 2vh auto;
        width: 90%;

        @media screen and (min-width: 780px) {
            width: 50%;
            margin: 2vh auto 10vh;
        }
    }

    &__progressBarContent {
        transition: width 0.5s;
        height: 4px;
        border-radius: 3px;
        background-color: #f6c952;
    }

    &__titleQuestion {
        font-size: 1rem;
        min-height: 5rem;

        @media screen and (min-width: 780px) {
            min-height: 3rem;
        }
    }

    &__slider {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: rgba(#f6c952, 0.8);
        outline: none;
        -webkit-appearance: none;
        padding: 0;
        margin: 0;

        &::-moz-range-thumb {
            -webkit-appearance: none;
            border: none;
            background-color: #f6c952;
            box-shadow: -3px 3px 14px -4px #000000;
            cursor: grab;
        }

        &::-moz-range-thumb:hover {
            box-shadow: rgba(#f6c952, 0.1) 0px 0px 0px 8px;
        }
    }
}

.hidden {
    opacity: 0;
}