.informations {
  width: 100%;
  background: none;
  color: var(--secondary);
  box-sizing: border-box;
  margin: 8vh auto;

  &__icon {
    margin-right: 25px;
  }

  .contacts {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 700px) {
      justify-content: left;
    }

    .contact {
      text-align: center;

      &__svg {
        height: 5rem;

        @media screen and (min-width: 700px) {
          margin-bottom: 1rem;
          height: 10rem;
        }
      }

      &__link {
        font-size: 10px;

        @media screen and (min-width: 700px) {
          font-size: 15px;
        }
      }
    }

  }

  @media screen and (min-width: 700px) {
    color: var(--secondary);
    padding: 20px 0 100px 55px;
    margin: auto;
  }

  h2 {
    padding-bottom: 20px;
    padding-left: 40px;
    text-align: center;

    @media screen and (min-width: 700px) {
      text-align: left;
    }
  }

  ul {
    list-style: none;
    width: 80%;
    margin: auto;

    @media screen and (min-width: 700px) {
      margin: 0;
      width: auto;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 0;

      a {
        font-size: 10px;
        font-weight: 100;
      }
    }
  }
}
