.header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    &__pointsDroite,
    &__pointsGauche {
        position: absolute;
        width: 20vw;
    }

    &__pointsDroite {
        top: 1rem;
        right: 1rem;
    }

    &__pointsGauche {
        bottom: 1rem;
        left: 1rem;
    }

    &__titleDiv {
        width: 75%;
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 1rem;
            color: var(--secondary);
            font-family: Quick;

            span {
                display: block;
                font-size: 18vw;
                letter-spacing: 5px;
                margin-left: -1vw;
            }
        }
    }

    &__rond {
        max-width: 25vw;
        position: absolute;
        width: 5rem;
        bottom: 12vh;
        right: 31vw;
    }
}

.contact {
    display: flex;

    p{
        border-right: solid #464652 2px;
        padding-right: 8%;
        margin-right: 6%;
    }

    img {
        width: 2rem;
        object-fit: contain;
    }
}

.triangle2 {
    width: 10rem;
    top: 16vh;
    right: -4vh;
}

.triangle5 {
    right: -15vw;
    bottom: 21vh;
    width: 10rem;
}

.triangle3, .triangle8, .triangle9 {
    display: none;
}

.triangle1 {
    top: 20vh;
    left: 5vw;
}

.triangle6 {
    bottom: 30vh;
    left: 10vw;
}

@media screen and (min-width: 780px) {
    .triangles, .rond {
        max-width: 30vw;
    }
    .header {
        &__pointsDroite,
        &__pointsGauche {
            width: 4rem;
        }

        &__titleDiv {
            left: 9vw;
            transform: translate(0, -50%);
            z-index: -1;

            h1 {
                font-size: 1.25rem;

                span {
                    font-size: 17.5vw;
                }
            }
        }

        &__rond {
            width: 8rem;
            bottom: 5vh;
            left: 35vw;
        }
    }

    .triangle2 {
        width: 15rem;
        top: 0;
        right: 10vw;
    }

    .triangle5 {
        width: 8rem;
        right: 35vw;
    }

    .triangle6 {
        display: block;
        bottom: 7vh;
        right: 8vw;
        width: 15rem;
    }

    .triangle3 {
        display: block;
        width: 10rem;
        bottom: 10vh;
        right: 5vw;
    }

    .triangle1 {
        width: 7rem;
        top: 10vh;
        left: 20vw;
    }

    .triangle8 {
        display: block;
        width: 16rem;
        left: 40vw;
        top: 5vh;
    }

    .triangle4 {
        width: 22rem;
        bottom: 1vh;
    }

}
