.valeurs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 1vh;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  min-height: 600px;

  @media screen and (min-width: 780px) {
    height: 100vh;
  }

  .illustration {
    display: block;
    height: 130px;

    .back {
      height: 100%;
      display: block;
      margin: auto;
      opacity: 0.2;
    }
  }

  h2 {
    margin: 15vh 0 0;

    @media screen and (min-width: 780px) {
      margin: 3vh 0 0;
    }
  }

  &__valeursContainer {
    display: flex;
    width: 85%;
    margin: 50px auto;
    row-gap: 5vh;
    flex-wrap: wrap;
    justify-content: center;

    figure {
      width: 80%;
      display: flex;
      flex-direction: column;

      img {
        height: 100px;
        margin: auto 30px auto 0;
        object-fit: contain;

        @media screen and (min-width: 780px) {
          height: 150px;

        }
      }
    }

    @media screen and (min-width: 780px) {
      width: 90%;
      justify-content: space-between;

      figure {
        flex-direction: row;
        width: 45%;

        img {
          height: 100px;
        }
      }
    }

    @media screen and (min-width: 1250px) {
      width: 80%;
    }
  }
}
