.triangles {
    max-width: 38vw;
    position: absolute;
    animation: flotter ease-in-out infinite;
}

@keyframes flotter {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(-3px, -9px) rotate(-2deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}