@import '../../../../styles/colors';

.itemQuestionNumber {
    width: 80%;
    min-height: 40vh;
    margin-top: 20vh;

    @media screen and (min-width: 780px) {
        height: 10vh;
        min-height: auto;
        width: 20%;
        margin-top: 10vh;
    }

    div {
        display: grid;
        grid-template-columns: 25% 1fr 25%;
        margin: auto;
    }

    &__validate {
        cursor: pointer;
        user-select: none;
        width: 100%;
    }

    &__button {
        margin: auto;
        background-color: $yellow;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
    }
}
