.croix {
    position: absolute;
    display: none;
    z-index: -1;
}

.montagne {
    position: absolute;
    display: none;
    z-index: -1;
}

@media screen and (min-width: 780px) {
    .croix {
        height: 15rem;
        bottom: 2vh;
        left: 5vw;
        display: block;
    }

    .montagne {
        height: 1rem;
        top: 15vh;
        right: 22vw;
        display: block;
    }
}
