.croix, .montagne {
    opacity: 1;
    position: absolute;
    z-index: -1;
    display: none;
    transition: .8s;
}

.montagne {
    opacity: .25;
}

.hidden {
    opacity: 0;
}

@media screen and (min-width: 780px) {
    .croix {
        height: 15rem;
        bottom: 2vh;
        left: 5vw;
        display: block;
    }

    .montagne {
        height: 1rem;
        top: 15vh;
        right: 22vw;
        display: block;
    }
}
