.projet {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    &__card {
        background-image: url("https://picsum.photos/900/1000");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 60vw;
        margin: 30px auto; //sinon le slider en height auto crop l'ombre
        box-shadow: -3px 3px 18px -3px rgba(0, 0, 0, 0.3);
        transition: .1s;
        position: relative;
    }

    &__infos {
        background-color: rgba(255, 255, 255, .6);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 2rem;
    }
}

.project__pagination {
    text-align: center;
    margin-top: 2rem;
    color: var(--secondary);
  }
