.containerQuestion {
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: column;

    &__itemQuestion {
        margin: 2vh 5%;
        box-shadow: -4px 4px 22px -4px rgba(0, 0, 0, 0.5);
        transition: .15s;
        background-color: var(--primary);

        @media screen and (min-width: 780px) {
            width: 35%;
            padding: 3vh 0;
        }

        img {
            height: 13vh;
            margin: 2vh 0;
        }

        p {
            margin: 0 0 2vh;
        }

        &:hover {
            box-shadow: -5px 5px 25px -5px rgba(0, 0, 0, 0.7);
            transform: scale(1.03);
        }
    }

    @media screen and (min-width: 780px) {
        flex-direction: row;
        width: 70%;
    }
}
