.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 15px;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    position: relative;

    @media screen and (min-width: 780px) {
        height: 100vh;
    }

    .illustration {
        display: block;
        height: 130px;

        .back {
            height: 100%;
            display: block;
            margin: auto;
            opacity: 0.2;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        letter-spacing: 3px;
        font-family: 'Quick', sans-serif;
        margin: 0 0 10vh;
        color: var(--secondary);
    }

    &__servicesContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 50px auto;
        row-gap: 5vh;

        @media screen and (min-width: 780px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
