.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 15px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    min-height: 600px;

    @media screen and (min-width: 780px) {
        height: 100vh;
    }

    .illustration {
        display: block;
        height: 130px;

        .back {
            height: 100%;
            display: block;
            margin: auto;
            opacity: 0.2;
        }
    }

    &__servicesContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 50px auto;
        row-gap: 5vh;

        @media screen and (min-width: 780px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
