@font-face {
    font-family: 'Quick';
    src: url('/fonts/quick/Quick.woff') format('woff'),
        url('/fonts/quick/Quick.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('/fonts/poppins/Poppins-Regular.woff2') format('woff2');
}