@font-face {
  font-family: "Quick";
  src: url("../public/fonts/quick/Quick.woff") format("woff"),
  url("../public/fonts/quick/Quick.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins-Regular.woff") format("woff"),
  url("../public/fonts/poppins/Poppins-Regular.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: white;
  --secondary: #464652;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--primary);
  transition: background-color 0.2s;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  background: transparent;
  border: 2px solid var(--secondary);
  padding: 0.4rem 1.2rem;
  width: fit-content;
  font-size: 10pt;
  border-radius: 30px;
  text-align: right;
  color: var(--secondary);
  margin-right: 1rem;
  display: block;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  cursor: pointer;
}

.button--white {
  border-color: white;
  color: white;
}

