@import 'colors';

@font-face {
    font-family: 'Quick';
    src: url('/fonts/quick/Quick.woff') format('woff'),
        url('/fonts/quick/Quick.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('/fonts/poppins/Poppins-Regular.woff2') format('woff2');
}

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: var(--primary);
    transition: background-color 0.2s;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swiper {
    height: 100vh;
    width: 100%;
}

.pagination {
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 100;
    row-gap: 20px;

    &__number::before {
        transition: .2s;
        pointer-events: none;
        display: block;
        position: relative;
        opacity: 0;
        background-color: rgba(165, 165, 165, .1);
        z-index: -1;
        border-radius: 15px;
        width: max-content;
        padding: 3px 26px 3px 8px;
        text-align: right;
        color: var(--secondary);
        font-size: 10px;
        transform: translate(calc(-100% + 16px), -4px);
        right: -5px;
        text-transform: uppercase;
    }

    &__number:hover::before {
        opacity: 1;
        right: 0;
    }

    &__number:nth-child(1):before {
        content: 'Acceuil';
    }

    &__number:nth-child(2):before {
        content: 'Notre agence';
    }

    &__number:nth-child(3):before {
        content: 'Nos services';
    }

    &__number:nth-child(4):before {
        content: 'Nos membres';
    }

    &__number:nth-child(5):before {
        content: 'Nos projets';
    }

    &__number:nth-child(6):before {
        content: 'Nos valeurs';
    }

    &__number:nth-child(7):before {
        content: 'Evaluez votre site web';
    }

    &__number:nth-child(8):before {
        content: 'Contact';
    }

    &__number {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: rgb(185, 185, 185);
        box-shadow: -1px 2px 5px 2px rgba(0, 0, 0, 0.1);
        transition: 1s;
        cursor: pointer;

        &--active {
            background-color: #f6c952;
        }
    }
}

.croix {
    position: absolute;
    display: none;
}

.montagne {
    position: absolute;
    display: none;
}

.triangle__gris {
    position: absolute;
    height: 10rem;
    top: 5vh;
    left: -15vw;
}

.triangle__jaune {
    position: absolute;
    height: 20rem;
    bottom: -15vh;
    right: -10vw;
}

@media screen and (min-width: 780px) {
    .croix {
        height: 15rem;
        bottom: 2vh;
        left: 5vw;
        display: block;
    }

    .montagne {
        height: 1rem;
        top: 15vh;
        right: 22vw;
        display: block;
    }

    .triangle__gris {
        height: 10rem;
        top: 5vh;
        left: 20vw;
    }

    .triangle__jaune {
        height: 10rem;
        bottom: 5vh;
        right: 15vw;
    }
}
